.mypy_cache
.vscode
.VSCodeCounter
.DS_Store
.ipynb_checkpoints
desktop.ini
CMoG/Outputs
CMoG_em/Outputs
Truncated/Outputs
UMoG/Outputs
*.pyc
*.pdf
*.png
*.pcl
*.npy
*.h5
*weights*
*checkpoin*
code/__pycache__/
