.mypy_cache
.vscode
.VSCodeCounter
.DS_Store
.ipynb_checkpoints
desktop.ini
CMoG_em/Outputs
Truncated/Outputs
UMoG/Outputs
*__pycache__*
*.out
*.pyc
*.pdf
*.png
*.pcl
*.npy
*.h5
*weights*
*checkpoin*
post-processing/toys